@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"].</h2>
<h3>@ViewData["Message"]</h3>

<p>O simpla aplicatie de tip Todo. In aplicatie sunt 2 utilizatori care isi pot vedea propriile lor todo-uri.<br>
    In aplicate se intra apasand butonul "Start from here"<br>











    
</p>

<footer> Coded with <img src="~/images/ic_favorite_black_24px.svg" /> by Cosmin Popescu</footer>
