@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
<div id="userButtons" style="margin-top: 25px;">
<a href="Users/CreateNewUser" class="btn btn-lg btn-primary" id="signUpButton"><span class="glyphicon glyphicon-plus"></span> New User</a>

<a href="Users/Login" class="btn btn-lg btn-primary" id="logInButton"><span class="glyphicon glyphicon-user"></span> Log in</a>
</div>