@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model TODO_APP1.DTO.DTOLogin
<div style="margin-top: 25px;">
<form asp-controller="Users" asp-action="Login" method="post" class="form-horizontal">
    <fieldset>

        <!-- Form Name -->
        <legend>Login</legend>


        <!-- Text input-->
        <!-- Text input-->
        <div class="form-group">
            <label class="col-md-4 control-label" for="textinput">User name</label>
            <div class="col-md-4">
                <input id="UserName" name="UserName" type="text" placeholder="" class="form-control input-md" required="">

            </div>
        </div>

        <!-- Text input-->
        <div class="form-group">
            <label class="col-md-4 control-label" for="textinput">Password</label>
            <div class="col-md-4">
                <input id="password" name="password" type="password" placeholder="" class="form-control input-md" required="">

            </div>
        </div>



    </fieldset>
    <button type="submit" class="btn btn-primary">Log in</button>
</form>
    <p>User name: cosminpop14 or cosminpop1493, password: 1 and 123456 for second user
</div>